@media only screen and (max-width: 800px) {
  /* 1. 전체 페이지 공통 요소 */

  /* 2. 전체 공통 요소는 아니지만, 다른 페이지에서도 쓰이는 요소 */

  .NL-header {
    padding: 30px 0% 10px;
    text-align: center;
    border-bottom: 1px rgb(110, 106, 106) solid;
    position: fixed;
    width: 100%;
    background-color: white;
    margin: 0;
    top: 0;
  }
  .NL-header h2 {
    font-size: 20px;
    /* font-weight: 400; */
    margin: 0;
  }
  .NL-back {
    position: fixed;
    width: 10%;
    z-index: 100;
  }
  .NL-back button {
    border: 0;
    padding: 3px 10px 10px 10px;
    background-color: white;
  }

  .NL-back i {
    font-size: 20px;
    background-color: rgba(240, 248, 255, 0);
  }

  /* 3. only 이 페이지에서만 쓰이는 요소 */
  .NL-body {
    background-color: white;
    background-size: cover;
    height: 100%;
    margin: 0;
    font-family: Noto Sans KR, sans-serif;
  }
  /* 헤더 아래 설명 */
  .NL-new_container {
    margin-top: 90px;
  }

  .NL-new_lost {
    margin: 40px auto 20px auto;
    width: 80%;
  }

  .NL-campus_sel {
    border-bottom: grey 1px solid;
  }

  .NL-lost_title {
    float: left;
    height: 50px;
  }

  .NL-lost_sel {
    float: right;
    height: 50px;
  }

  .NL-new_exp {
    width: 80%;
    margin: 20% auto 0 auto;
    text-align: center;
  }

  .NL-new_exp h2 {
    margin: 20px auto 5px auto;
    width: fit-content;
    border-bottom: rgb(141, 198, 63) 1px solid;
  }

  #pg1 p {
    margin: 10px auto 10px auto;
    font-size: 15px;
  }

  #pg2 p {
    margin: 10px auto 30px auto;
    font-size: 15px;
  }

  /* 카테고리 선택 틀 */
  .NL-new_category {
    text-align: center;
    width: 80%;
    margin: 20px auto;
    height: 100%;
  }

  .NL-campus::after {
    content: "";
    clear: both;
    display: block;
  }

  .NL-campus {
    border-bottom: rgb(141, 198, 63) 1px solid;
    margin-top: 30px;
  }

  .NL-new_theme {
    float: left;
    clear: left;
    margin: 24px auto 0;
    font-size: 20px;
  }

  .NL-new_sel {
    float: right;
    clear: right;
    margin: 20px auto;
    background-color: white;
  }

  .NL-campus_opt {
    width: 80px;
    height: 26px;
    background-color: white;
  }

  /* 세부주소 */
  .NL-campus_detail::after {
    content: "";
    clear: both;
    display: block;
  }

  .NL-campus_detail {
    border-bottom: rgb(141, 198, 63) 1px solid;
    margin-top: 10px;
  }

  .NL-new_theme_detail {
    float: left;
    clear: left;
    margin: 0px auto 0;
    font-size: 15px;
    white-space: nowrap;
    overflow: auto;
    text-overflow: clip;
    width: 80%;
    text-align: left;
  }

  .NL-new_sel_detail {
    float: right;
    clear: right;
  }

  .NL-campus_opt_detail {
    background-color: transparent;
    border: 0;
    font-size: 15px;
    font-weight: bold;
    margin: 0px 5px 10px 0px;
  }
  /* 세부주소 */

  /* 다음 버튼 */
  .NL-new_next {
    margin-right: 10%;
    float: right;
    width: 80px;
    height: 40px;
    background-color: rgba(38, 51, 236, 0.801);
    color: white;
    border: 0;
    border-radius: 0.2rem;
    font-size: 20px;
    margin-bottom: 80px;
  }
  /* 이미지 삽입 미리보기 예시 */
  .NL-new_insert_img {
    width: 80%;
    margin: auto;
    text-align: center;
  }

  .NL-new_insert_img img {
    width: 50%;
    border: grey 1px solid;
  }

  /* 이미지 삽입 버튼 */
  .NL-new_img_button {
    width: 80%;
    text-align: center;
    margin: 5px auto 30px auto;
  }

  .NL-input-file-button {
    width: 40%;
    height: 30px;
    color: white;
    background-color: rgb(141, 198, 63);
    border: 0;
    border-radius: 0.5rem;
    font-size: 15px;
    padding: 4px 25px;
  }

  /* 게시물 제목  */
  .NL-new_title_input {
    text-align: center;
    margin: auto;
    width: 80%;
  }

  .NL-new_title_input input {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 5px;
    font-size: 15px;
  }

  .NL-new_place_input {
    text-align: center;
    margin: 10px auto auto auto;
    width: 80%;
  }

  .NL-new_place_input input {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 5px;
    font-size: 15px;
  }

  /* 상세정보 + 주의사항 */
  .NL-new_content_input {
    text-align: center;
    margin: 0 auto;
    width: 80%;
  }

  .NL-new_content_input textarea {
    width: 100%;
    height: 200px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 5px;
    font-size: 15px;
    margin-bottom: 15px;
    border-bottom: grey 1px solid;
  }

  /* 등록 완료 버튼 */
  .NL-new_complete {
    margin-right: 10%;
    float: right;
    width: 100px;
    height: 40px;
    background-color: rgba(38, 51, 236, 0.801);
    color: white;
    border: 0;
    border-radius: 0.2rem;
    font-size: 20px;
    margin-bottom: 80px;
  }
}


/* 자동완성 기능 관련 css 추가 */
.autoCompleteText {
  /* width: 100%; */
  /* background-color: #fff; */
  z-index: 11;
  padding-left: -14px;
  padding-right: -14px;
}

.autoCompleteText input {
  width: 100%;
  /* border: none; */
  box-sizing: border-box;
}

.autoCompleteText ul {
  width: 304px;
  list-style-type: none;
  text-align: left;
  margin: 0;
  /* padding-left: 14px;
  margin-left: -14px; */
  background-color: #fff;
  border: solid 1px #dadada;
}

.autoCompletText ul::before {
  content: "";
}

.autoCompleteText li {
  padding: 5px 0px;
  cursor: pointer;
}

.autoCompleteText li:hover {
  text-decoration: underline;
  background-color: #c4bebe;
}